In [1]:
from IPython import display

In [2]:
try:
    import nbformat
except:
    !pip install nbformat
display.clear_output()

In [3]:
%run ../model/train.ipynb

+ action: main_feat04
+ feat_path: ../../../exps/featbase_24102025/data.npz
+ seed: 42
+ exp_dir: d:\ai_practice_prj\exps
+ exp_name: trainbase_24102025
+ data_dir: d:\ai_practice_prj\HK1_2025-2026_MachineLearning\data\titanic
+ verbose: True
+ save_dir: d:\ai_practice_prj\exps\trainbase_24102025
---------- information ----------
train-col: {'Ticket', 'Pclass', 'Cabin', 'Survived', 'Age', 'PassengerId', 'Sex', 'Fare', 'Embarked', 'Name', 'Parch', 'SibSp'}
test-col: {'Ticket', 'Pclass', 'Cabin', 'Age', 'PassengerId', 'Sex', 'Fare', 'Embarked', 'Name', 'Parch', 'SibSp'}
Union: {'Ticket', 'Pclass', 'Cabin', 'Age', 'PassengerId', 'Sex', 'Fare', 'Embarked', 'Name', 'Parch', 'SibSp'}
Difference: {'Survived'}
head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

None
tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

None
isna

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

sex

(array(['female', 'male'], dtype=object), array([314, 577], dtype=int64))

Age IsNa: 177
Age Median: 28.0

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

-*10 Cabin

(array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', 'Z0'], dtype=object),
 array([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
          1,   1,   1,   1,   2,   1,   2,   2,   2,   1,   1,   2,   1,
          1,   1,   1,   1,   1,   2,   2,   1,   2,   2,   2,   1,   1,
          1,   2,   1,   1,   1,   1,   1,   1,   4,   1,   1,   1,   1,
          1,   1,   1,   2,   2,   2,   2,   1,   1,   2,   3,   4,   1,
          1,   1,   1,   1,   1,   1,   2,   1,   1,   2,   2,   1,   1,
          2,   1,   2,   1,   1,   1,   1,   1,   2,   2,   1,   1,   3,
          1,   1,   1,   2,   1,   2,   1,   2,   1,   1,   2,   2,   2,
          1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   3,
          1,   2,   1,   2,   2,   1,   2,   1,   1,   1,   1,   2,   1,
          1,   1,   1,   1,   2,   1,   1,   2,   1,   1,   2,   3,   3,
          1,   2,   4,   1, 687], dtype=int64))

(array(['0', 'C', 'Q', 'S'], dtype=object),
 array([  2, 168,  77, 644], dtype=int64))

=== FEATURE ENGINEERING ===
✓ Hoàn thành Feature Engineering

=== AFTER FEATURE ENGINEERING ===
    Title AgeGroup FareGroup  FamilySize  IsAlone  Fare_per_Person
0      Mr    Adult       Low           2        0          3.62500
1     Mrs   Middle  VeryHigh           2        0         35.64165
2    Miss    Adult       Mid           1        1          7.92500
3     Mrs    Adult  VeryHigh           2        0         26.55000
4      Mr    Adult       Mid           1        1          8.05000
5      Mr      NaN       Mid           1        1          8.45830
6      Mr   Middle  VeryHigh           1        1         51.86250
7  Master    Child      High           5        0          4.21500
8     Mrs    Adult       Mid           3        0          3.71110
9     Mrs     Teen      High           2        0         15.03540
Danh sách cột hiện tại:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'AgeGroup', 'FareGroup', 'FamilySize', 'IsAlone', 'Fare_per_Person']
       Title AgeGroup FareGroup  FamilySize     IsAlone  Fare_per_Person
count    891      714       891  891.000000  891.000000       891.000000
unique     5        5         4         NaN         NaN              NaN
top       Mr    Adult       Mid         NaN         NaN              NaN
freq     517      358       224         NaN         NaN              NaN
mean     NaN      NaN       NaN    1.904602    0.602694        19.916375
std      NaN      NaN       NaN    1.613459    0.489615        35.841257
min      NaN      NaN       NaN    1.000000    0.000000         0.000000
25%      NaN      NaN       NaN    1.000000    0.000000         7.250000
50%      NaN      NaN       NaN    1.000000    1.000000         8.300000
75%      NaN      NaN       NaN    2.000000    1.000000        23.666667
max      NaN      NaN       NaN   11.000000    1.000000       512.329200
✓ Hoàn thành Encoding
Thiếu trong test: set()
Thừa trong test: set()
   PassengerId  Survived                                               Name  \
0            1         0                            Braund, Mr. Owen Harris
1            2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3         1                             Heikkinen, Miss. Laina
3            4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5         0                           Allen, Mr. William Henry

   Sex   Age  SibSp  Parch            Ticket     Fare Cabin  ...  Title_Rare  \
0    1  22.0      1      0         A/5 21171   7.2500   NaN  ...       False
1    0  38.0      1      0          PC 17599  71.2833   C85  ...       False
2    0  26.0      0      0  STON/O2. 3101282   7.9250   NaN  ...       False
3    0  35.0      1      0            113803  53.1000  C123  ...       False
4    1  35.0      0      0            373450   8.0500   NaN  ...       False

   AgeGroup_Child  AgeGroup_Teen  AgeGroup_Adult  AgeGroup_Middle  \
0           False          False            True            False
1           False          False           False             True
2           False          False            True            False
3           False          False            True            False
4           False          False            True            False

   AgeGroup_Senior  FareGroup_Low  FareGroup_Mid  FareGroup_High  \
0            False           True          False           False
1            False          False          False           False
2            False          False           True           False
3            False          False          False           False
4            False          False           True           False

   FareGroup_VeryHigh
0               False
1                True
2               False
3                True
4               False

[5 rows x 33 columns]
   Embarked_C  Embarked_Q  Embarked_S  Pclass_1  Pclass_2  Pclass_3  \
0       False       False        True     False     False      True
1        True       False       False      True     False     False
2       False       False        True     False     False      True
3       False       False        True      True     False     False
4       False       False        True     False     False      True

   Title_Master  Title_Miss  Title_Mr  Title_Mrs  Title_Rare  AgeGroup_Child  \
0         False       False      True      False       False           False
1         False       False     False       True       False           False
2         False        True     False      False       False           False
3         False       False     False       True       False           False
4         False       False      True      False       False           False

   AgeGroup_Teen  AgeGroup_Adult  AgeGroup_Middle  AgeGroup_Senior  \
0          False            True            False            False
1          False           False             True            False
2          False            True            False            False
3          False            True            False            False
4          False            True            False            False

   FareGroup_Low  FareGroup_Mid  FareGroup_High  FareGroup_VeryHigh
0           True          False           False               False
1          False          False           False                True
2          False           True           False               False
3          False          False           False                True
4          False           True           False               False

Trước khi Scaled:

,Sex,Age,SibSp,Parch,Fare,FamilySize,Fare_per_Person
count,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.647587,29.699118,0.523008,0.381594,32.204208,1.904602,19.916375
std,0.477990,14.526497,1.102743,0.806057,49.693429,1.613459,35.841257
min,0.000000,0.420000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.000000,20.125000,0.000000,0.000000,7.910400,1.000000,7.250000
50%,1.000000,28.000000,0.000000,0.000000,14.454200,1.000000,8.300000
75%,1.000000,38.000000,1.000000,0.000000,31.000000,2.000000,23.666667
max,1.000000,80.000000,8.000000,6.000000,512.329200,11.000000,512.329200

None

Sau khi Scaled:

,Sex,Age,SibSp,Parch,Fare,FamilySize,Fare_per_Person
count,8.910000e+02,7.140000e+02,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02
mean,-1.156327e-16,2.388379e-16,4.386066e-17,5.382900e-17,3.987333e-18,-2.392400e-17,-2.990500e-17
std,1.000562e+00,1.000701e+00,1.000562e+00,1.000562e+00,1.000562e+00,1.000562e+00,1.000562e+00
min,-1.355574e+00,-2.016979e+00,-4.745452e-01,-4.736736e-01,-6.484217e-01,-5.609748e-01,-5.559950e-01
25%,-1.355574e+00,-6.595416e-01,-4.745452e-01,-4.736736e-01,-4.891482e-01,-5.609748e-01,-3.536006e-01
50%,7.376951e-01,-1.170488e-01,-4.745452e-01,-4.736736e-01,-3.573909e-01,-5.609748e-01,-3.242883e-01
75%,7.376951e-01,5.718310e-01,4.327934e-01,-4.736736e-01,-2.424635e-02,5.915988e-02,1.046949e-01
max,7.376951e-01,3.465126e+00,6.784163e+00,6.974147e+00,9.667167e+00,5.640372e+00,1.374643e+01

None
✓ Hoàn thành Scaling

=== GridSearchCV cho LogisticRegression ===
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best Params for LogisticRegression: {'logisticregression__C': 0.01, 'logisticregression__solver': 'liblinear'}
Best CV Accuracy: 0.8339

=== GridSearchCV cho SVC ===
Fitting 5 folds for each of 6 candidates, totalling 30 fits
Best Params for SVC: {'svc__C': 10, 'svc__gamma': 'auto'}
Best CV Accuracy: 0.7183

=== GridSearchCV cho KNeighbors ===
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Params for KNeighbors: {'kneighborsclassifier__n_neighbors': 11, 'kneighborsclassifier__weights': 'uniform'}
Best CV Accuracy: 0.5872

Đang đánh giá LogisticRegression ...
LogisticRegression | Accuracy: 0.8339 ± 0.0175
F1-score: 0.7842 | ROC-AUC: 0.8815

Đang đánh giá SVC ...
SVC | Accuracy: 0.7183 ± 0.0225
F1-score: 0.4536 | ROC-AUC: 0.8548

Đang đánh giá KNeighbors ...
KNeighbors | Accuracy: 0.5872 ± 0.0850
F1-score: 0.1637 | ROC-AUC: 0.5405

Đang đánh giá Voting ...
Voting | Accuracy: 0.7306 ± 0.0360
F1-score: 0.4821 | ROC-AUC: 0.8650

=== Tổng hợp KFold results ===
LogisticRegression   acc=0.8339 f1=0.7842 roc=0.8815
SVC                  acc=0.7183 f1=0.4536 roc=0.8548
KNeighbors           acc=0.5872 f1=0.1637 roc=0.5405
Voting               acc=0.7306 f1=0.4821 roc=0.8650

Best model by CV accuracy: LogisticRegression (0.8339)

===================== KẾT QUẢ TRÊN TẬP TRAIN (Mô hình Tối ưu) =====================
Mô hình: LogisticRegression
Accuracy : 1.0000
Precision: 1.0000
Recall   : 1.0000
F1 Score : 1.0000
ROC-AUC  : 1.0000
===================================================================================

--- Classification Report ---
                    precision    recall  f1-score   support

Không sống sót (0)       1.00      1.00      1.00       549
      Sống sót (1)       1.00      1.00      1.00       342

          accuracy                           1.00       891
         macro avg       1.00      1.00      1.00       891
      weighted avg       1.00      1.00      1.00       891


--- Confusion Matrix ---
Ma trận nhầm lẫn (Dòng: Thực tế, Cột: Dự đoán):
[[549   0]
 [  0 342]]

True Negatives (TN): 549
False Positives (FP): 0
False Negatives (FN): 0
True Positives (TP): 342
Runing ... [main_feat04]

In [4]:
!jupyter nbconvert  ../model/train.ipynb --to html

[NbConvertApp] Converting notebook ../model/train.ipynb to html
[NbConvertApp] Writing 389336 bytes to ..\model\train.html