In [59]:
from IPython import display

In [60]:
try:
    import nbformat
except:
    !pip install nbformat
display.clear_output()

In [61]:
%run ../model/train.ipynb

+ action: main_feat01
+ feat_path: ../../../exps/featbase_19102025/data.npz
+ seed: 42
+ exp_dir: d:\ai_practice_prj\exps
+ exp_name: trainbase_19102025
+ data_dir: d:\ai_practice_prj\HK1_2025-2026_MachineLearning\data\titanic
+ verbose: True
+ save_dir: d:\ai_practice_prj\exps\trainbase_19102025
---------- information ----------
train-col: {'PassengerId', 'Cabin', 'Name', 'Fare', 'Parch', 'Embarked', 'Survived', 'Ticket', 'Pclass', 'SibSp', 'Age', 'Sex'}
test-col: {'PassengerId', 'Cabin', 'Name', 'Fare', 'Parch', 'Embarked', 'Ticket', 'Pclass', 'SibSp', 'Age', 'Sex'}
Union: {'PassengerId', 'Cabin', 'Name', 'Fare', 'Embarked', 'Ticket', 'Pclass', 'SibSp', 'Sex', 'Age', 'Parch'}
Difference: {'Survived'}
head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

None
tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

None
isna

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

sex

(array(['female', 'male'], dtype=object), array([314, 577], dtype=int64))

Age IsNa: 177
Age Median: 28.0

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

-*10 Cabin

(array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', 'Z0'], dtype=object),
 array([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
          1,   1,   1,   1,   2,   1,   2,   2,   2,   1,   1,   2,   1,
          1,   1,   1,   1,   1,   2,   2,   1,   2,   2,   2,   1,   1,
          1,   2,   1,   1,   1,   1,   1,   1,   4,   1,   1,   1,   1,
          1,   1,   1,   2,   2,   2,   2,   1,   1,   2,   3,   4,   1,
          1,   1,   1,   1,   1,   1,   2,   1,   1,   2,   2,   1,   1,
          2,   1,   2,   1,   1,   1,   1,   1,   2,   2,   1,   1,   3,
          1,   1,   1,   2,   1,   2,   1,   2,   1,   1,   2,   2,   2,
          1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   3,
          1,   2,   1,   2,   2,   1,   2,   1,   1,   1,   1,   2,   1,
          1,   1,   1,   1,   2,   1,   1,   2,   1,   1,   2,   3,   3,
          1,   2,   4,   1, 687], dtype=int64))

(array(['0', 'C', 'Q', 'S'], dtype=object),
 array([  2, 168,  77, 644], dtype=int64))

=== FEATURE ENGINEERING ===

KeyError: "['AgeGroup', 'FareGroup'] not in index"

KeyError: "['AgeGroup', 'FareGroup'] not in index"

In [ ]:
!jupyter nbconvert  ../model/train.ipynb --to html

[NbConvertApp] Converting notebook ../model/train.ipynb to html
[NbConvertApp] Writing 304808 bytes to ..\model\train.html