In [1]:
from IPython import display

In [2]:
try:
    import nbformat
except:
    !pip install nbformat
display.clear_output()

In [3]:
%run ../model/train.ipynb

+ action: main_feat03
+ feat_path: ../../../exps/featbase_23102025/data.npz
+ seed: 42
+ exp_dir: d:\ai_practice_prj\exps
+ exp_name: trainbase_23102025
+ data_dir: d:\ai_practice_prj\HK1_2025-2026_MachineLearning\data\titanic
+ verbose: True
+ save_dir: d:\ai_practice_prj\exps\trainbase_23102025
---------- information ----------
train-col: {'PassengerId', 'Sex', 'Parch', 'Pclass', 'Fare', 'Embarked', 'Age', 'Cabin', 'Survived', 'Name', 'SibSp', 'Ticket'}
test-col: {'PassengerId', 'Sex', 'Parch', 'Pclass', 'Fare', 'Embarked', 'Age', 'Cabin', 'Name', 'SibSp', 'Ticket'}
Union: {'PassengerId', 'Sex', 'Parch', 'Pclass', 'Fare', 'Embarked', 'Age', 'Cabin', 'Name', 'SibSp', 'Ticket'}
Difference: {'Survived'}
head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

None
tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

None
isna

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

sex

(array(['female', 'male'], dtype=object), array([314, 577], dtype=int64))

Age IsNa: 177
Age Median: 28.0

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

-*10 Cabin

(array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', 'Z0'], dtype=object),
 array([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
          1,   1,   1,   1,   2,   1,   2,   2,   2,   1,   1,   2,   1,
          1,   1,   1,   1,   1,   2,   2,   1,   2,   2,   2,   1,   1,
          1,   2,   1,   1,   1,   1,   1,   1,   4,   1,   1,   1,   1,
          1,   1,   1,   2,   2,   2,   2,   1,   1,   2,   3,   4,   1,
          1,   1,   1,   1,   1,   1,   2,   1,   1,   2,   2,   1,   1,
          2,   1,   2,   1,   1,   1,   1,   1,   2,   2,   1,   1,   3,
          1,   1,   1,   2,   1,   2,   1,   2,   1,   1,   2,   2,   2,
          1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   3,
          1,   2,   1,   2,   2,   1,   2,   1,   1,   1,   1,   2,   1,
          1,   1,   1,   1,   2,   1,   1,   2,   1,   1,   2,   3,   3,
          1,   2,   4,   1, 687], dtype=int64))

(array(['0', 'C', 'Q', 'S'], dtype=object),
 array([  2, 168,  77, 644], dtype=int64))

=== FEATURE ENGINEERING ===
✓ Hoàn thành Feature Engineering

=== AFTER FEATURE ENGINEERING ===
    Title AgeGroup FareGroup  FamilySize  IsAlone  Fare_per_Person
0      Mr    Adult       Low           2        0          3.62500
1     Mrs   Middle  VeryHigh           2        0         35.64165
2    Miss    Adult       Mid           1        1          7.92500
3     Mrs    Adult  VeryHigh           2        0         26.55000
4      Mr    Adult       Mid           1        1          8.05000
5      Mr      NaN       Mid           1        1          8.45830
6      Mr   Middle  VeryHigh           1        1         51.86250
7  Master    Child      High           5        0          4.21500
8     Mrs    Adult       Mid           3        0          3.71110
9     Mrs     Teen      High           2        0         15.03540
Danh sách cột hiện tại:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'AgeGroup', 'FareGroup', 'FamilySize', 'IsAlone', 'Fare_per_Person']
       Title AgeGroup FareGroup  FamilySize     IsAlone  Fare_per_Person
count    891      714       891  891.000000  891.000000       891.000000
unique     5        5         4         NaN         NaN              NaN
top       Mr    Adult       Mid         NaN         NaN              NaN
freq     517      358       224         NaN         NaN              NaN
mean     NaN      NaN       NaN    1.904602    0.602694        19.916375
std      NaN      NaN       NaN    1.613459    0.489615        35.841257
min      NaN      NaN       NaN    1.000000    0.000000         0.000000
25%      NaN      NaN       NaN    1.000000    0.000000         7.250000
50%      NaN      NaN       NaN    1.000000    1.000000         8.300000
75%      NaN      NaN       NaN    2.000000    1.000000        23.666667
max      NaN      NaN       NaN   11.000000    1.000000       512.329200
✓ Hoàn thành Encoding
Thiếu trong test: set()
Thừa trong test: set()
   PassengerId  Survived                                               Name  \
0            1         0                            Braund, Mr. Owen Harris
1            2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3         1                             Heikkinen, Miss. Laina
3            4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5         0                           Allen, Mr. William Henry

   Sex   Age  SibSp  Parch            Ticket     Fare Cabin  ...  Title_Rare  \
0    1  22.0      1      0         A/5 21171   7.2500   NaN  ...       False
1    0  38.0      1      0          PC 17599  71.2833   C85  ...       False
2    0  26.0      0      0  STON/O2. 3101282   7.9250   NaN  ...       False
3    0  35.0      1      0            113803  53.1000  C123  ...       False
4    1  35.0      0      0            373450   8.0500   NaN  ...       False

   AgeGroup_Child  AgeGroup_Teen  AgeGroup_Adult  AgeGroup_Middle  \
0           False          False            True            False
1           False          False           False             True
2           False          False            True            False
3           False          False            True            False
4           False          False            True            False

   AgeGroup_Senior  FareGroup_Low  FareGroup_Mid  FareGroup_High  \
0            False           True          False           False
1            False          False          False           False
2            False          False           True           False
3            False          False          False           False
4            False          False           True           False

   FareGroup_VeryHigh
0               False
1                True
2               False
3                True
4               False

[5 rows x 33 columns]
   Embarked_C  Embarked_Q  Embarked_S  Pclass_1  Pclass_2  Pclass_3  \
0       False       False        True     False     False      True
1        True       False       False      True     False     False
2       False       False        True     False     False      True
3       False       False        True      True     False     False
4       False       False        True     False     False      True

   Title_Master  Title_Miss  Title_Mr  Title_Mrs  Title_Rare  AgeGroup_Child  \
0         False       False      True      False       False           False
1         False       False     False       True       False           False
2         False        True     False      False       False           False
3         False       False     False       True       False           False
4         False       False      True      False       False           False

   AgeGroup_Teen  AgeGroup_Adult  AgeGroup_Middle  AgeGroup_Senior  \
0          False            True            False            False
1          False           False             True            False
2          False            True            False            False
3          False            True            False            False
4          False            True            False            False

   FareGroup_Low  FareGroup_Mid  FareGroup_High  FareGroup_VeryHigh
0           True          False           False               False
1          False          False           False                True
2          False           True           False               False
3          False          False           False                True
4          False           True           False               False
Fare gốc:

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

None

Fare_Scaled:

count    8.910000e+02
mean     3.987333e-18
std      1.000562e+00
min     -6.484217e-01
25%     -4.891482e-01
50%     -3.573909e-01
75%     -2.424635e-02
max      9.667167e+00
Name: Fare_Scaled, dtype: float64

None
✓ Hoàn thành Scaling

=== GridSearchCV cho LogisticRegression ===
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best Params for LogisticRegression: {'C': 1, 'solver': 'liblinear'}
Best CV Accuracy: 0.8339

=== GridSearchCV cho SVC ===
Fitting 5 folds for each of 6 candidates, totalling 30 fits
Best Params for SVC: {'C': 10, 'gamma': 'auto'}
Best CV Accuracy: 0.8114

=== GridSearchCV cho KNeighbors ===
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Params for KNeighbors: {'n_neighbors': 5, 'weights': 'uniform'}
Best CV Accuracy: 0.8092

LogisticRegression | Accuracy: 0.8339 ± 0.0068
F1-score: 0.7769 | ROC-AUC: 0.8706

SVC | Accuracy: 0.8114 ± 0.0192
F1-score: 0.7448 | ROC-AUC: 0.8600

KNeighbors | Accuracy: 0.8081 ± 0.0066
F1-score: 0.7412 | ROC-AUC: 0.8423

Voting | Accuracy: 0.8249 ± 0.0140
F1-score: 0.7656 | ROC-AUC: 0.8771

=== Tổng hợp KFold results ===
LogisticRegression   acc=0.8339 f1=0.7769 roc=0.8706
SVC                  acc=0.8114 f1=0.7448 roc=0.8600
KNeighbors           acc=0.8081 f1=0.7412 roc=0.8423
Voting               acc=0.8249 f1=0.7656 roc=0.8771

Best model by CV accuracy: LogisticRegression (0.8339)

===================== KẾT QUẢ TRÊN TẬP TRAIN (Mô hình Tối ưu) =====================
Mô hình: LogisticRegression
Accuracy : 0.8373
Precision: 0.8050
Recall   : 0.7602
F1 Score : 0.7820
ROC-AUC  : 0.8775
===================================================================================

--- Classification Report ---
                    precision    recall  f1-score   support

Không sống sót (0)       0.86      0.89      0.87       549
      Sống sót (1)       0.80      0.76      0.78       342

          accuracy                           0.84       891
         macro avg       0.83      0.82      0.83       891
      weighted avg       0.84      0.84      0.84       891


--- Confusion Matrix ---
Ma trận nhầm lẫn (Dòng: Thực tế, Cột: Dự đoán):
[[486  63]
 [ 82 260]]

True Negatives (TN): 486
False Positives (FP): 63
False Negatives (FN): 82
True Positives (TP): 260
Runing ... [main_feat03]

In [4]:
!jupyter nbconvert  ../model/train.ipynb --to html

[NbConvertApp] Converting notebook ../model/train.ipynb to html
[NbConvertApp] Writing 380463 bytes to ..\model\train.html