In [4]:
from IPython import display

In [5]:
try:
    import nbformat
except:
    !pip install nbformat
display.clear_output()

In [6]:
%run ../model/train.ipynb

+ action: main_feat06
+ feat_path: ../../../exps/featbase_26102025/data.npz
+ seed: 42
+ exp_dir: d:\ai_practice_prj\exps
+ exp_name: trainbase_26102025
+ data_dir: d:\ai_practice_prj\HK1_2025-2026_MachineLearning\data\titanic
+ verbose: True
+ save_dir: d:\ai_practice_prj\exps\trainbase_26102025
---------- information ----------
train-col: {'PassengerId', 'Sex', 'Parch', 'SibSp', 'Name', 'Survived', 'Ticket', 'Age', 'Pclass', 'Embarked', 'Fare', 'Cabin'}
test-col: {'PassengerId', 'Sex', 'Parch', 'SibSp', 'Name', 'Ticket', 'Age', 'Pclass', 'Embarked', 'Fare', 'Cabin'}
Union: {'PassengerId', 'Cabin', 'Parch', 'SibSp', 'Name', 'Ticket', 'Age', 'Sex', 'Embarked', 'Fare', 'Pclass'}
Difference: {'Survived'}
===== PREPROCESSING V2 SUMMARY =====
Shape: (891, 14)
Missing values per column:
Sex                0
Age                0
Fare               0
Pclass             0
SibSp              0
Parch              0
HasCabin           0
Deck               0
Embarked           0
Title              0
FamilySize         0
IsAlone            0
Fare_per_Person    0
Output             0
dtype: int64

Feature sample (head):

,Sex,Age,Fare,Pclass,SibSp,Parch,HasCabin,Deck,Embarked,Title,FamilySize,IsAlone,Fare_per_Person,Output
0,1,-0.534891,-0.879741,3,1,0,1,8,3,0,2,0,-0.454798,0
1,0,0.668392,1.361220,1,1,0,1,2,1,1,2,0,0.438994,1
2,0,-0.234070,-0.798540,3,0,0,1,8,3,2,1,1,-0.334757,1
3,0,0.442776,1.062038,1,1,0,1,2,3,1,2,0,0.185187,1
4,1,0.442776,-0.784179,3,0,0,1,8,3,0,1,1,-0.331267,0

Describe numeric features:

,Sex,Age,Fare,Pclass,SibSp,Parch,HasCabin,Deck,Embarked,Title,FamilySize,IsAlone,Fare_per_Person,Output
count,891.000000,8.910000e+02,8.910000e+02,891.000000,891.000000,891.000000,891.0,891.000000,891.000000,891.000000,891.000000,891.000000,8.910000e+02,891.000000
mean,0.647587,2.153160e-16,-1.938841e-16,2.308642,0.523008,0.381594,1.0,6.716049,2.536476,0.794613,1.904602,0.602694,-2.990500e-17,0.383838
std,0.477990,1.000562e+00,1.000562e+00,0.836071,1.102743,0.806057,0.0,2.460739,0.791503,1.076519,1.613459,0.489615,1.000562e+00,0.486592
min,0.000000,-2.157819e+00,-3.058578e+00,1.000000,0.000000,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,0.000000,-5.559950e-01,0.000000
25%,0.000000,-5.724938e-01,-8.002318e-01,2.000000,0.000000,0.000000,1.0,8.000000,2.000000,0.000000,1.000000,0.000000,-3.536006e-01,0.000000
50%,1.000000,-2.340704e-01,-2.316613e-01,3.000000,0.000000,0.000000,1.0,8.000000,3.000000,0.000000,1.000000,1.000000,-3.242883e-01,0.000000
75%,1.000000,5.179814e-01,5.198636e-01,3.000000,1.000000,0.000000,1.0,8.000000,3.000000,2.000000,2.000000,1.000000,1.046949e-01,1.000000
max,1.000000,3.827009e+00,3.385294e+00,3.000000,8.000000,6.000000,1.0,8.000000,3.000000,4.000000,11.000000,1.000000,1.374643e+01,1.000000

Unique Embarked: [3 1 2]
Unique Deck: [8 2 4 6 3 0 1 5 7]
Unique Title: [0 1 2 3 4]
====================================


=== FEATURE ENGINEERING ===
✓ Hoàn thành Feature Engineering

=== AFTER FEATURE ENGINEERING ===
    Title AgeGroup FareGroup  FamilySize  IsAlone  Fare_per_Person  Has_Cabin  \
0      Mr    Adult       Low           2        0          3.62500          1
1     Mrs   Middle  VeryHigh           2        0         35.64165          1
2    Miss    Adult       Mid           1        1          7.92500          1
3     Mrs    Adult  VeryHigh           2        0         26.55000          1
4      Mr    Adult       Mid           1        1          8.05000          1
5      Mr    Adult       Mid           1        1          8.45830          1
6      Mr   Middle  VeryHigh           1        1         51.86250          1
7  Master    Child      High           5        0          4.21500          1
8     Mrs    Adult       Mid           3        0          3.71110          1
9     Mrs     Teen      High           2        0         15.03540          1

  Deck Sex_Pclass  Is_Mother  Is_Boy
0    Z     male_3          0       0
1    C   female_1          0       0
2    Z   female_3          0       0
3    C   female_1          0       0
4    Z     male_3          0       0
5    Z     male_3          0       0
6    E     male_1          0       0
7    Z     male_3          0       0
8    Z   female_3          0       0
9    Z   female_2          0       0
Danh sách cột hiện tại:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Deck', 'Title', 'AgeGroup', 'FareGroup', 'FamilySize', 'IsAlone', 'Fare_per_Person', 'Has_Cabin', 'Sex_Pclass', 'Is_Mother', 'Is_Boy']
       Title AgeGroup FareGroup  FamilySize     IsAlone  Fare_per_Person  \
count    891      891       891  891.000000  891.000000       891.000000
unique     5        5         4         NaN         NaN              NaN
top       Mr    Adult       Mid         NaN         NaN              NaN
freq     517      514       224         NaN         NaN              NaN
mean     NaN      NaN       NaN    1.904602    0.602694        19.916375
std      NaN      NaN       NaN    1.613459    0.489615        35.841257
min      NaN      NaN       NaN    1.000000    0.000000         0.000000
25%      NaN      NaN       NaN    1.000000    0.000000         7.250000
50%      NaN      NaN       NaN    1.000000    1.000000         8.300000
75%      NaN      NaN       NaN    2.000000    1.000000        23.666667
max      NaN      NaN       NaN   11.000000    1.000000       512.329200

        Has_Cabin Deck Sex_Pclass  Is_Mother  Is_Boy
count       891.0  891        891      891.0   891.0
unique        NaN    9          6        NaN     NaN
top           NaN    Z     male_3        NaN     NaN
freq          NaN  687        347        NaN     NaN
mean          1.0  NaN        NaN        0.0     0.0
std           0.0  NaN        NaN        0.0     0.0
min           1.0  NaN        NaN        0.0     0.0
25%           1.0  NaN        NaN        0.0     0.0
50%           1.0  NaN        NaN        0.0     0.0
75%           1.0  NaN        NaN        0.0     0.0
max           1.0  NaN        NaN        0.0     0.0
✓ Hoàn thành Encoding
Thiếu trong test: set()
Thừa trong test: set()
   PassengerId  Survived                                               Name  \
0            1         0                            Braund, Mr. Owen Harris
1            2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3         1                             Heikkinen, Miss. Laina
3            4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5         0                           Allen, Mr. William Henry

   Sex   Age  SibSp  Parch            Ticket     Fare Cabin  ...  Deck_T  \
0    1  22.0      1      0         A/5 21171   7.2500    Z0  ...   False
1    0  38.0      1      0          PC 17599  71.2833   C85  ...   False
2    0  26.0      0      0  STON/O2. 3101282   7.9250    Z0  ...   False
3    0  35.0      1      0            113803  53.1000  C123  ...   False
4    1  35.0      0      0            373450   8.0500    Z0  ...   False

   Deck_Z  Sex_Pclass_female_1  Sex_Pclass_female_2  Sex_Pclass_female_3  \
0    True                False                False                False
1   False                 True                False                False
2    True                False                False                 True
3   False                 True                False                False
4    True                False                False                False

   Sex_Pclass_male_1  Sex_Pclass_male_2  Sex_Pclass_male_3  Is_Mother_0  \
0              False              False               True         True
1              False              False              False         True
2              False              False              False         True
3              False              False              False         True
4              False              False               True         True

   Is_Boy_0
0      True
1      True
2      True
3      True
4      True

[5 rows x 51 columns]
   Embarked_C  Embarked_Q  Embarked_S  Pclass_1  Pclass_2  Pclass_3  \
0       False       False        True     False     False      True
1        True       False       False      True     False     False
2       False       False        True     False     False      True
3       False       False        True      True     False     False
4       False       False        True     False     False      True

   Title_Master  Title_Miss  Title_Mr  Title_Mrs  ...  Deck_T  Deck_Z  \
0         False       False      True      False  ...   False    True
1         False       False     False       True  ...   False   False
2         False        True     False      False  ...   False    True
3         False       False     False       True  ...   False   False
4         False       False      True      False  ...   False    True

   Sex_Pclass_female_1  Sex_Pclass_female_2  Sex_Pclass_female_3  \
0                False                False                False
1                 True                False                False
2                False                False                 True
3                 True                False                False
4                False                False                False

   Sex_Pclass_male_1  Sex_Pclass_male_2  Sex_Pclass_male_3  Is_Mother_0  \
0              False              False               True         True
1              False              False              False         True
2              False              False              False         True
3              False              False              False         True
4              False              False               True         True

   Is_Boy_0
0      True
1      True
2      True
3      True
4      True

[5 rows x 38 columns]

Trước khi Scaled:

              Age        Fare       SibSp       Parch
count  891.000000  891.000000  891.000000  891.000000
mean    29.112424   32.204208    0.523008    0.381594
std     13.304424   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     21.500000    7.910400    0.000000    0.000000
50%     26.000000   14.454200    0.000000    0.000000
75%     36.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

None

Sau khi Scaled:

                Age          Fare         SibSp         Parch
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean   2.153160e-16  3.987333e-18  4.386066e-17  5.382900e-17
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -2.157819e+00 -6.484217e-01 -4.745452e-01 -4.736736e-01
25%   -5.724938e-01 -4.891482e-01 -4.745452e-01 -4.736736e-01
50%   -2.340704e-01 -3.573909e-01 -4.745452e-01 -4.736736e-01
75%    5.179814e-01 -2.424635e-02  4.327934e-01 -4.736736e-01
max    3.827009e+00  9.667167e+00  6.784163e+00  6.974147e+00

None
✓ Hoàn thành Pipeline

=== GridSearchCV cho LogisticRegression ===
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best Params for LogisticRegression: {'logisticregression__C': 0.1, 'logisticregression__solver': 'liblinear'}
Best CV Accuracy: 0.8373

=== GridSearchCV cho SVC ===
Fitting 5 folds for each of 6 candidates, totalling 30 fits
Best Params for SVC: {'svc__C': 1, 'svc__gamma': 'scale'}
Best CV Accuracy: 0.8395

=== GridSearchCV cho KNeighbors ===
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Params for KNeighbors: {'kneighborsclassifier__n_neighbors': 11, 'kneighborsclassifier__weights': 'distance'}
Best CV Accuracy: 0.8327

Đang đánh giá LogisticRegression ...
LogisticRegression | Accuracy: 0.8373 ± 0.0160
F1-score: 0.7765 | ROC-AUC: 0.8760

Đang đánh giá SVC ...
SVC | Accuracy: 0.8395 ± 0.0228
F1-score: 0.7748 | ROC-AUC: 0.8752

Đang đánh giá KNeighbors ...
KNeighbors | Accuracy: 0.8327 ± 0.0142
F1-score: 0.7659 | ROC-AUC: 0.8645

Đang đánh giá Voting ...
Voting | Accuracy: 0.8372 ± 0.0194
F1-score: 0.7713 | ROC-AUC: 0.8752

=== Tổng hợp KFold results ===
LogisticRegression   acc=0.8373 f1=0.7765 roc=0.8760
SVC                  acc=0.8395 f1=0.7748 roc=0.8752
KNeighbors           acc=0.8327 f1=0.7659 roc=0.8645
Voting               acc=0.8372 f1=0.7713 roc=0.8752

Best model by CV accuracy: SVC (0.8395)

===================== KẾT QUẢ TRÊN TẬP TRAIN (Mô hình Tối ưu) =====================
Mô hình: SVC
Accuracy : 0.8777
Precision: 0.8820
Recall   : 0.7865
F1 Score : 0.8315
ROC-AUC  : 0.9234
===================================================================================

--- Classification Report ---
                    precision    recall  f1-score   support

Không sống sót (0)       0.88      0.93      0.90       549
      Sống sót (1)       0.88      0.79      0.83       342

          accuracy                           0.88       891
         macro avg       0.88      0.86      0.87       891
      weighted avg       0.88      0.88      0.88       891


--- Confusion Matrix ---
Ma trận nhầm lẫn (Dòng: Thực tế, Cột: Dự đoán):
[[513  36]
 [ 73 269]]

True Negatives (TN): 513
False Positives (FP): 36
False Negatives (FN): 73
True Positives (TP): 269
Runing ... [main_feat06]

In [7]:
!jupyter nbconvert  ../model/train.ipynb --to html

[NbConvertApp] Converting notebook ../model/train.ipynb to html
[NbConvertApp] Writing 403937 bytes to ..\model\train.html