In [1]:
from IPython import display

In [2]:
try:
    import nbformat
except:
    !pip install nbformat
display.clear_output()

In [3]:
%run ../model/train.ipynb

+ action: main_feat05
+ feat_path: ../../../exps/featbase_25102025/data.npz
+ seed: 42
+ exp_dir: d:\ai_practice_prj\exps
+ exp_name: trainbase_25102025
+ data_dir: d:\ai_practice_prj\HK1_2025-2026_MachineLearning\data\titanic
+ verbose: True
+ save_dir: d:\ai_practice_prj\exps\trainbase_25102025
---------- information ----------
train-col: {'Embarked', 'Parch', 'Survived', 'Cabin', 'PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Pclass', 'SibSp', 'Sex'}
test-col: {'Embarked', 'Parch', 'Cabin', 'PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Pclass', 'SibSp', 'Sex'}
Union: {'Embarked', 'Sex', 'Parch', 'PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Pclass', 'SibSp', 'Cabin'}
Difference: {'Survived'}
head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

None
tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

None
isna

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

sex

(array(['female', 'male'], dtype=object), array([314, 577], dtype=int64))

Age IsNa: 177
Age Median: 28.0

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

-*10 Cabin

(array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', 'Z0'], dtype=object),
 array([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
          1,   1,   1,   1,   2,   1,   2,   2,   2,   1,   1,   2,   1,
          1,   1,   1,   1,   1,   2,   2,   1,   2,   2,   2,   1,   1,
          1,   2,   1,   1,   1,   1,   1,   1,   4,   1,   1,   1,   1,
          1,   1,   1,   2,   2,   2,   2,   1,   1,   2,   3,   4,   1,
          1,   1,   1,   1,   1,   1,   2,   1,   1,   2,   2,   1,   1,
          2,   1,   2,   1,   1,   1,   1,   1,   2,   2,   1,   1,   3,
          1,   1,   1,   2,   1,   2,   1,   2,   1,   1,   2,   2,   2,
          1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   3,
          1,   2,   1,   2,   2,   1,   2,   1,   1,   1,   1,   2,   1,
          1,   1,   1,   1,   2,   1,   1,   2,   1,   1,   2,   3,   3,
          1,   2,   4,   1, 687], dtype=int64))

(array(['0', 'C', 'Q', 'S'], dtype=object),
 array([  2, 168,  77, 644], dtype=int64))

=== FEATURE ENGINEERING ===
✓ Hoàn thành Feature Engineering

=== AFTER FEATURE ENGINEERING ===
    Title AgeGroup FareGroup  FamilySize  IsAlone  Fare_per_Person  Has_Cabin  \
0      Mr    Adult       Low           2        0          3.62500          0
1     Mrs   Middle  VeryHigh           2        0         35.64165          1
2    Miss    Adult       Mid           1        1          7.92500          0
3     Mrs    Adult  VeryHigh           2        0         26.55000          1
4      Mr    Adult       Mid           1        1          8.05000          0
5      Mr      NaN       Mid           1        1          8.45830          0
6      Mr   Middle  VeryHigh           1        1         51.86250          1
7  Master    Child      High           5        0          4.21500          0
8     Mrs    Adult       Mid           3        0          3.71110          0
9     Mrs     Teen      High           2        0         15.03540          0

  Deck Sex_Pclass  Is_Mother  Is_Boy
0    n     male_3          0       0
1    C   female_1          0       0
2    n   female_3          0       0
3    C   female_1          0       0
4    n     male_3          0       0
5    n     male_3          0       0
6    E     male_1          0       0
7    n     male_3          0       0
8    n   female_3          0       0
9    n   female_2          0       0
Danh sách cột hiện tại:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'AgeGroup', 'FareGroup', 'FamilySize', 'IsAlone', 'Fare_per_Person', 'Has_Cabin', 'Deck', 'Sex_Pclass', 'Is_Mother', 'Is_Boy']
       Title AgeGroup FareGroup  FamilySize     IsAlone  Fare_per_Person  \
count    891      714       891  891.000000  891.000000       891.000000
unique     5        5         4         NaN         NaN              NaN
top       Mr    Adult       Mid         NaN         NaN              NaN
freq     517      358       224         NaN         NaN              NaN
mean     NaN      NaN       NaN    1.904602    0.602694        19.916375
std      NaN      NaN       NaN    1.613459    0.489615        35.841257
min      NaN      NaN       NaN    1.000000    0.000000         0.000000
25%      NaN      NaN       NaN    1.000000    0.000000         7.250000
50%      NaN      NaN       NaN    1.000000    1.000000         8.300000
75%      NaN      NaN       NaN    2.000000    1.000000        23.666667
max      NaN      NaN       NaN   11.000000    1.000000       512.329200

         Has_Cabin Deck Sex_Pclass  Is_Mother  Is_Boy
count   891.000000  891        891      891.0   891.0
unique         NaN    9          6        NaN     NaN
top            NaN    n     male_3        NaN     NaN
freq           NaN  687        347        NaN     NaN
mean      0.228956  NaN        NaN        0.0     0.0
std       0.420397  NaN        NaN        0.0     0.0
min       0.000000  NaN        NaN        0.0     0.0
25%       0.000000  NaN        NaN        0.0     0.0
50%       0.000000  NaN        NaN        0.0     0.0
75%       0.000000  NaN        NaN        0.0     0.0
max       1.000000  NaN        NaN        0.0     0.0
✓ Hoàn thành Encoding
Thiếu trong test: set()
Thừa trong test: set()
   PassengerId  Survived                                               Name  \
0            1         0                            Braund, Mr. Owen Harris
1            2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3         1                             Heikkinen, Miss. Laina
3            4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5         0                           Allen, Mr. William Henry

   Sex   Age  SibSp  Parch            Ticket     Fare Cabin  ...  Deck_T  \
0    1  22.0      1      0         A/5 21171   7.2500   NaN  ...   False
1    0  38.0      1      0          PC 17599  71.2833   C85  ...   False
2    0  26.0      0      0  STON/O2. 3101282   7.9250   NaN  ...   False
3    0  35.0      1      0            113803  53.1000  C123  ...   False
4    1  35.0      0      0            373450   8.0500   NaN  ...   False

   Deck_n  Sex_Pclass_female_1  Sex_Pclass_female_2  Sex_Pclass_female_3  \
0    True                False                False                False
1   False                 True                False                False
2    True                False                False                 True
3   False                 True                False                False
4    True                False                False                False

   Sex_Pclass_male_1  Sex_Pclass_male_2  Sex_Pclass_male_3  Is_Mother_0  \
0              False              False               True         True
1              False              False              False         True
2              False              False              False         True
3              False              False              False         True
4              False              False               True         True

   Is_Boy_0
0      True
1      True
2      True
3      True
4      True

[5 rows x 52 columns]
   Embarked_C  Embarked_Q  Embarked_S  Pclass_1  Pclass_2  Pclass_3  \
0       False       False        True     False     False      True
1        True       False       False      True     False     False
2       False       False        True     False     False      True
3       False       False        True      True     False     False
4       False       False        True     False     False      True

   Title_Master  Title_Miss  Title_Mr  Title_Mrs  ...  Deck_T  Deck_n  \
0         False       False      True      False  ...   False    True
1         False       False     False       True  ...   False   False
2         False        True     False      False  ...   False    True
3         False       False     False       True  ...   False   False
4         False       False      True      False  ...   False    True

   Sex_Pclass_female_1  Sex_Pclass_female_2  Sex_Pclass_female_3  \
0                False                False                False
1                 True                False                False
2                False                False                 True
3                 True                False                False
4                False                False                False

   Sex_Pclass_male_1  Sex_Pclass_male_2  Sex_Pclass_male_3  Is_Mother_0  \
0              False              False               True         True
1              False              False              False         True
2              False              False              False         True
3              False              False              False         True
4              False              False               True         True

   Is_Boy_0
0      True
1      True
2      True
3      True
4      True

[5 rows x 39 columns]

Trước khi Scaled:

              Age        Fare       SibSp       Parch
count  714.000000  891.000000  891.000000  891.000000
mean    29.699118   32.204208    0.523008    0.381594
std     14.526497   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     20.125000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     38.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

None

Sau khi Scaled:

                Age          Fare         SibSp         Parch
count  7.140000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean   2.388379e-16  3.987333e-18  4.386066e-17  5.382900e-17
std    1.000701e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -2.016979e+00 -6.484217e-01 -4.745452e-01 -4.736736e-01
25%   -6.595416e-01 -4.891482e-01 -4.745452e-01 -4.736736e-01
50%   -1.170488e-01 -3.573909e-01 -4.745452e-01 -4.736736e-01
75%    5.718310e-01 -2.424635e-02  4.327934e-01 -4.736736e-01
max    3.465126e+00  9.667167e+00  6.784163e+00  6.974147e+00

None
✓ Hoàn thành Pipeline

=== GridSearchCV cho LogisticRegression ===
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best Params for LogisticRegression: {'logisticregression__C': 0.1, 'logisticregression__solver': 'lbfgs'}
Best CV Accuracy: 0.8339

=== GridSearchCV cho SVC ===
Fitting 5 folds for each of 6 candidates, totalling 30 fits
Best Params for SVC: {'svc__C': 1, 'svc__gamma': 'scale'}
Best CV Accuracy: 0.8383

=== GridSearchCV cho KNeighbors ===
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Params for KNeighbors: {'kneighborsclassifier__n_neighbors': 11, 'kneighborsclassifier__weights': 'distance'}
Best CV Accuracy: 0.8338

Đang đánh giá LogisticRegression ...
LogisticRegression | Accuracy: 0.8339 ± 0.0151
F1-score: 0.7707 | ROC-AUC: 0.8739

Đang đánh giá SVC ...
SVC | Accuracy: 0.8383 ± 0.0223
F1-score: 0.7722 | ROC-AUC: 0.8743

Đang đánh giá KNeighbors ...
KNeighbors | Accuracy: 0.8338 ± 0.0223
F1-score: 0.7673 | ROC-AUC: 0.8720

Đang đánh giá Voting ...
Voting | Accuracy: 0.8372 ± 0.0213
F1-score: 0.7725 | ROC-AUC: 0.8778

=== Tổng hợp KFold results ===
LogisticRegression   acc=0.8339 f1=0.7707 roc=0.8739
SVC                  acc=0.8383 f1=0.7722 roc=0.8743
KNeighbors           acc=0.8338 f1=0.7673 roc=0.8720
Voting               acc=0.8372 f1=0.7725 roc=0.8778

Best model by CV accuracy: SVC (0.8383)

===================== KẾT QUẢ TRÊN TẬP TRAIN (Mô hình Tối ưu) =====================
Mô hình: SVC
Accuracy : 0.8754
Precision: 0.8812
Recall   : 0.7807
F1 Score : 0.8279
ROC-AUC  : 0.9231
===================================================================================

--- Classification Report ---
                    precision    recall  f1-score   support

Không sống sót (0)       0.87      0.93      0.90       549
      Sống sót (1)       0.88      0.78      0.83       342

          accuracy                           0.88       891
         macro avg       0.88      0.86      0.87       891
      weighted avg       0.88      0.88      0.87       891


--- Confusion Matrix ---
Ma trận nhầm lẫn (Dòng: Thực tế, Cột: Dự đoán):
[[513  36]
 [ 75 267]]

True Negatives (TN): 513
False Positives (FP): 36
False Negatives (FN): 75
True Positives (TP): 267
Runing ... [main_feat05]

In [4]:
!jupyter nbconvert  ../model/train.ipynb --to html

[NbConvertApp] Converting notebook ../model/train.ipynb to html
[NbConvertApp] Writing 399176 bytes to ..\model\train.html